.navigation-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	width: 100%;
	max-width: 100%;
	height: 12%;
}

.navigation-logo-container {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	height: 80%;
}

.navigation-logo {
	justify-self: center;
	align-self: center;
	cursor: pointer;
	height: 100%;
}

.navigation-menu {
	position: absolute;
	transform: translateY(-50%);
	right: 11%;
	top: 50%;
	margin: 0;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.navigation-menu svg {
	width: 2.4rem;
	height: 2.4rem;
	color: #303030;
}

.navigation-offcanvas-container {
	--bs-offcanvas-width: 40% !important;
	--bs-offcanvas-padding-x: 3rem !important;
	--bs-offcanvas-padding-y: 4rem !important;
	font-size: 1.7rem;
	border: none !important;
}

.navigation-offcanvas-title {
	font-size: 2.2rem !important;
	color: #303030 !important;
}

.navigation-offcanvas-username {
	font-weight: 700;
	margin-right: 0.5rem;
	color: #944444;
}

.navigation-offcanvas-body {
	padding: 0 var(--bs-offcanvas-padding-x) !important;
}

.navigation-offcanvas-nav {
	display: flex;
	flex-direction: column;
}

.navigation-offcanvas-nav-link {
	margin-bottom: 1.5rem;
	padding: 0.75rem;
	color: #505050;
	text-decoration: none;
}

.navigation-offcanvas-nav-link:hover {
	color: #9f5757;
}

.navigation-offcanvas-nav-link svg {
	margin-right: 1rem;
}

.navigation-offcanvas-logout-btn {
	position: absolute;
	right: 3rem;
	font-size: 1.7rem !important;
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}
.navigation-offcanvas-logout-btn:hover {
	background-color: #944444 !important;
}

@media screen and (max-width: 1024px) {
	.navigation-container {
		height: 10%;
	}

	.navigation-menu {
		right: 16%;
	}

	.navigation-menu svg {
		width: 3rem;
		height: 3rem;
	}

	.navigation-offcanvas-container {
		--bs-offcanvas-width: 60% !important;
		font-size: 2.2rem;
	}

	.navigation-offcanvas-title {
		font-size: 2.5rem !important;
	}
}

@media screen and (min-width: 1025px) {
	.navigation-menu {
		right: 11%;
	}
}

@media screen and (min-width: 1400px) {
	.navigation-menu {
		right: 16%;
	}
}
