.navigation-container {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: 10rem;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 1rem;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: #faeeed;
}

.navigation-logo-container {
	display: flex;
	height: 100%;
}

.navigation-logo {
	justify-self: center;
	align-self: center;
	cursor: pointer;
	height: 90%;
}

.navigation-menu {
	position: absolute;
	right: 5%;
	margin: 0;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.navigation-menu svg {
	font-size: 2.2rem;
	color: #595959;
}
.navigation-menu svg:hover {
	color: #303030;
}

.navigation-offcanvas-container {
	display: flex !important;
	padding: 5rem 4rem !important;
	font-size: 1.7rem;
	border: none !important;
}

.navigation-offcanvas-header {
	margin-bottom: 2rem !important;
}

.navigation-offcanvas-title {
	display: flex !important;
	align-items: center !important;
	font-size: 2.2rem !important;
	color: #303030 !important;
}

.navigation-offcanvas-title span {
	font-size: 2.4rem;
	font-weight: 700;
	margin-right: 0.75rem;
	color: #944444;
}

.offcanvas-divider {
	margin: 1rem 0 !important;
}

.navigation-offcanvas-body {
	display: flex !important;
	flex-direction: column !important;
	padding: 1rem !important;
}

.navigation-offcanvas-nav {
	display: flex;
	flex-direction: column;
}

.navigation-offcanvas-nav-link {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	padding: 1rem;
	color: #505050;
	font-size: 2rem;
	text-decoration: none;
}
.navigation-offcanvas-nav-link svg {
	margin-right: 1rem;
}
.navigation-offcanvas-nav-link:hover {
	color: #9f5757;
}

.navigation-offcanvas-logout-btn {
	display: flex;
	justify-content: flex-end;
	width: 94%;
	margin-top: 2rem;
}
.navigation-offcanvas-logout-btn button {
	font-size: 1.8rem !important;
	padding: 1rem 2rem !important;
	box-shadow: 0.3rem 0.5rem 0.5rem #cccaca !important;
}

@media screen and (max-width: 1200px) {
	.navigation-container {
		min-width: 400px;
	}
	.navigation-menu {
		right: 10%;
	}
}

@media screen and (min-width: 1400px) {
	.navigation-container {
		max-width: 1250px;
	}
}
