.logoContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 2rem;
}

.logoImg {
	width: 80%;
	min-width: 300px;
	height: auto;
}

@media screen and (max-width: 1023px) {
	.logoContainer {
		width: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		padding: 0;
	}

	.logoImg {
		max-width: 500px;
		width: 100%;
		min-width: 200px;
		object-fit: contain;
	}
}
