.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 1rem;
}

.logoImg {
	min-width: 300px;
	height: auto;
}

@media screen and (max-width: 1023px) {
	.logoContainer {
		width: 80%;
		height: 100%;
	}

	.logoImg {
		max-width: 50%;
		min-width: 200px;
		height: auto;
	}
}
