.navUl {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 1.8rem;
	background-color: lightgrey;
}

.navUl li {
	margin: 1rem;
	list-style-type: none;
}

.navMenu {
	display: flex;
	margin-left: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
}

.navMenuName {
	margin-top: 0.5rem;
}
