.createMessage-button-group {
	display: flex !important;
	flex-direction: column !important;
	align-items: center;
}

.createMessage-toggle-btn {
	font-size: 0.75rem !important;
	padding: 0.5rem 0.875rem !important;
}
.createMessage-toggle-btn svg {
	font-size: inherit;
	margin-right: 0.25rem;
}

.createMessage-attach-group {
	margin: 0;
	padding: 0;
	width: 100%;
}
