.msgDrawing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.msgDrawing-canvas {
	width: 100%;
	height: 100%;
	min-height: 200px;
	max-height: 500px;
	align-self: center;
	border: 2px solid #303030;
	border-radius: 20px;
}

.msgDrawing-tool-group {
	padding: 0.5rem;
	/* font-size: 1.6rem; */
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tool-divider {
	height: 3rem;
	border-color: rgba(5, 5, 5, 0.1);
}

.msgDrawing-radio-container {
	margin-right: 1rem;
}

.msgDrawing-radio-btn {
	display: none;
}
.msgDrawing-radio-btn:checked + label svg {
	border: 1px rgb(105, 177, 255) solid;
	box-shadow: 0.3rem 0.3rem 0.3rem rgba(145, 202, 255, 0.5);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.msgDrawing-radio-btn:checked + input {
	border: 1px #69b1ff solid;
	box-shadow: 0.3rem 0.3rem 0.3rem rgba(145, 202, 255, 0.5);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-tool-label {
	margin: 0 0.5rem;
	cursor: pointer;
}
.msgDrawing-tool-label svg {
	padding: 1rem;
	/* width: 2.5rem;
	height: 2.5rem; */
	border: 1px #dee2e6 solid;
	border-radius: 50%;
}
.msgDrawing-tool-label svg:hover {
	box-shadow: 0.3rem 0.3rem 0.3rem rgba(150, 143, 142, 0.8);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-color-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.msgDrawing-color-label {
	margin: 0 0.5rem;
	cursor: pointer;
}
.msgDrawing-color-label svg {
	padding: 0.375rem;
	/* width: 3rem;
	height: 3rem; */
	border: 1px #dee2e6 solid;
	border-radius: 50%;
}
.msgDrawing-color-label svg:hover {
	box-shadow: 0.3rem 0.3rem 0.3rem rgba(150, 143, 142, 0.8);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-radio-colorPicker {
	margin: 0 0.5rem;
	/* min-width: 5rem;
	min-height: 5rem; */
}
.msgDrawing-radio-colorPicker:hover {
	box-shadow: 0.3rem 0.3rem 0.3rem rgba(150, 143, 142, 0.8);
}

#pen-black {
	color: black;
}
#pen-red {
	color: red;
}
#pen-yellow {
	color: yellow;
}
#pen-green {
	color: green;
}
#pen-blue {
	color: blue;
}

.msgDrawing-slider-group {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}

.msgDrawing-slider {
	min-width: 150px;
	margin-right: 0.5rem;
}

.msgDrawing-slider-number {
	display: flex;
	justify-content: center;
	align-items: center;
	/* min-width: 60px; */
}
.msgDrawing-slider-number input {
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.msgDrawing-tool-undo-group {
	padding: 0.25rem;
	/* padding: 0.5rem 1.5rem 0 1.5rem; */
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.msgDrawing-tool-undo-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	color: #303030;
	border: none;
	border-radius: 50%;
	outline: none;
	appearance: none;
	white-space: nowrap;
	background: none;
}
.msgDrawing-tool-undo-btn svg {
	/* width: 2.75rem;
	height: 2.75rem; */
	margin-bottom: 0.3rem;
}
.msgDrawing-tool-undo-btn #back {
	/* width: 3rem;
	height: 3rem; */
	margin-bottom: 0.3rem;
}
.msgDrawing-tool-undo-btn span {
	/* font-size: 1rem; */
}
.msgDrawing-tool-undo-btn:hover {
	color: #4096ff;
	transition: color 0.15s ease-in-out;
}

@media screen and (max-height: 600px) {
	.msgDrawing-canvas {
		height: 100%;
	}
}

@media screen and (max-height: 768px) {
	.msgDrawing-canvas {
		/* max-height: 300px; */
	}
}
