.msgDrawing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 0.75rem !important;
}

.msgDrawing-canvas {
	width: 100%;
	height: 30vh;
	min-height: 150px;
	max-height: 350px;
	align-self: center;
	border: 2px solid #303030;
	border-radius: 20px;
}

.row-padding {
	padding: 0.25rem;
}

.msgDrawing-tool-group {
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tool-divider {
	height: 2rem;
	border-color: rgba(5, 5, 5, 0.1);
}

.msgDrawing-radio-btn {
	display: none;
}
.msgDrawing-radio-btn:checked + label svg {
	border: 1px #c37f7f solid;
	box-shadow: 2px 2px 2px rgba(148, 68, 68, 0.35);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.msgDrawing-radio-btn:checked + input {
	border: 1px #c37f7f solid;
	box-shadow: 2px 2px 2px rgba(148, 68, 68, 0.35);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-tool-label {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25px;
	margin: 0 0.375rem;
	padding: 0.25rem;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	white-space: nowrap;
	background: none;
}
.msgDrawing-tool-label svg {
	min-height: 20px;
	padding: 0.75rem;
	border: 1px #dee2e6 solid;
	border-radius: 50%;
}
.msgDrawing-tool-label svg:hover {
	box-shadow: 2px 2px 2px rgba(150, 143, 142, 0.8);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-tool-undo-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.375rem;
	padding: 0.25rem;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	white-space: nowrap;
	background: none;
}
.msgDrawing-tool-undo-btn svg {
	min-height: 20px;
	padding: 0.75rem;
	border: 1px #dee2e6 solid;
	border-radius: 50%;
}
.msgDrawing-tool-undo-btn #back-icon:hover {
	box-shadow: -2px 2px 2px rgba(148, 68, 68, 0.35);
}
.msgDrawing-tool-undo-btn svg:hover {
	color: #9f5757;
	border-color: #c37f7f;
	box-shadow: 2px 2px 2px rgba(148, 68, 68, 0.35);
	transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.colorPicker-margin {
	margin: 0.25rem 0;
	padding: 0.25rem;
}

.msgDrawing-color-group {
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.msgDrawing-color-label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
	cursor: pointer;
}
.msgDrawing-color-label svg {
	min-height: 25px;
	padding: 0.25rem;
	border: 1px #dee2e6 solid;
	border-radius: 50%;
}
.msgDrawing-color-label svg:hover {
	box-shadow: 2px 2px 2px rgba(150, 143, 142, 0.8);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.msgDrawing-radio-colorPicker {
	margin: 0.25rem;
}
.msgDrawing-radio-colorPicker:hover {
	box-shadow: 2px 2px 2px rgba(150, 143, 142, 0.8);
}

#pen-black {
	color: black;
}
#pen-red {
	color: red;
}
#pen-yellow {
	color: yellow;
}
#pen-green {
	color: green;
}
#pen-blue {
	color: blue;
}

.msgDrawing-slider-group {
	display: flex;
	justify-content: center;
	margin: 0 0.125rem;
	padding: 0.25rem;
}

.msgDrawing-slider {
	min-width: 160px;
	margin-right: 0.5rem;
}

.ant-slider .ant-slider-track {
	background-color: #e4bab5 !important;
}
.ant-slider:hover .ant-slider-track {
	background-color: #d0a39e !important;
}

.ant-slider-horizontal .ant-slider-handle {
	inset-block-start: -1px;
}

.ant-slider .ant-slider-handle {
	width: 15px !important;
	height: 15px !important;
}
.ant-slider .ant-slider-handle::after {
	width: 15px !important;
	height: 15px !important;
	box-shadow: 0 0 0 2px #c37f7f !important;
}
.ant-slider:hover .ant-slider-handle::after {
	width: 18px !important;
	height: 18px !important;
	box-shadow: 0 0 0 4px #9f5757 !important;
}

.msgDrawing-slider-number {
	display: flex;
	justify-content: center;
	align-items: center;
}
.msgDrawing-slider-number input {
	font-family: "Binggrae", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.ant-input-number:hover {
	border-color: #c37f7f !important;
}

.ant-input-number-focused {
	border-color: #c37f7f !important;
	box-shadow: 0 0 0 2px rgba(195, 127, 127, 0.1) !important;
}

.ant-input-number .ant-input-number-handler svg {
	color: #d9d9d9 !important;
}
.ant-input-number .ant-input-number-handler:hover svg {
	color: #c37f7f !important;
}
