.message-card-container {
	display: flex !important;
	flex-direction: column !important;
	margin: 0.5rem !important;
	padding: 0.75rem !important;
	background-color: #fffdfd !important;
	border: none !important;
	box-shadow: 0.375rem 0.375rem 0.375rem #a0827f !important;
}

.message-card-title {
	font-size: 1rem !important;
	color: #944444 !important;
	margin-bottom: 0.75rem !important;
}

.message-card-date {
	font-size: 0.75rem !important;
	margin-bottom: 0.75rem !important;
}

.message-card-writer {
	font-size: 0.75rem !important;
	margin-bottom: 0.75rem !important;
}

.message-card-content {
	font-size: var(--font-size-sm) !important;
	color: #303030 !important;
	margin-bottom: 0.75rem !important;
}

.message-card-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0;
}

.message-card-img {
	width: auto;
	max-height: 200px;
}

.message-delete-btn {
	display: flex;
	justify-content: right;
}
