.message-card-container {
	display: flex !important;
	flex-direction: column !important;
	background-color: #fffdfd !important;
	border: none !important;
	box-shadow: 0.5rem 0.5rem 0.5rem #a0827f !important;
}

.message-delete-btn {
	display: flex;
	justify-content: right;
}
.message-delete-btn button {
	font-size: 1.4rem !important;
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}
.message-delete-btn svg:hover,
.message-delete-btn svg:active {
	background-color: #944444 !important;
}

@media screen and (max-width: 1023px) {
}
