.editProfile-form-group {
	display: flex !important;
	flex-direction: column !important;
	margin: 0 1rem;
}

.editProfile-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.editProfile-title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	margin: 0;
	padding: 0.5rem 1.125rem !important;
	font-size: 1.125rem;
	color: #fffdfd;
	border-radius: 25px;
	background-color: #8d9296;
}
.editProfile-title svg {
	margin-right: 0.375rem;
}

.editProfile-input-group #profileImgInput {
	display: none;
}

.editProfile-profile-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.editProfile-profile-img-container button {
	margin-top: 1.5rem;
}

.profile-img-upload-wrapper {
	position: relative;
}

.profile-img-upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
}
.profile-img-upload-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 5px #dee2e6 solid;
	border-radius: 50%;
}

.profile-img-upload-container-img {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.15);
}

.profile-img-upload-container-select {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding-top: 0.5rem;
	width: 100%;
	height: 25%;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.65);
}

.profile-img-upload-container-select span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-size: 0.5rem;
	color: #fffdfd;
}
.profile-img-upload-container-select svg {
	height: 0.75rem;
}

.editProfile-auth-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.editProfile-auth-btn button {
	font-size: 0.75rem !important;
	margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
	.profile-img-upload-container {
		width: 135px;
		height: 135px;
	}

	.profile-img-upload-container-select {
		padding-top: 0.375rem;
	}

	.editProfile-auth-btn {
		justify-content: center;
	}
}
