.authFormContainerDesktop {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 8%;
	background-color: rgb(234, 234, 234);
}

.authInputFormContainerDesktop {
	display: flex;
	flex-direction: column;
}

.authFormText {
	cursor: pointer;
}
