/* ---- Desktop---- */
.authContainerDesktop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.authLogoContainerDesktop {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
	height: 100%;
	background-color: coral;
}

.authLoginContainerDesktop {
	display: flex;
	align-items: center;
	width: 60%;
	height: 100%;
	padding: 1rem;
}

/* ---- TabletOrMobile ---- */
.authContainerMobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: aqua;
}

.authLogoContainerMobile {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 80%;
	height: 30%;
	background-color: coral;
}

.authLoginContainerMobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 70%;
	padding: 1rem;
	background-color: pink;
}
