.homeContainerDesktop {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: brown;
}

.homeContainerTablet {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: gold;
}

.homeContainerMobile {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: aqua;
}
