.home-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 3rem;
	background-color: lightseagreen;
}

.home-paper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200vh;
	padding: 1rem;
	background-color: lightskyblue;
}

.home-paper-btn {
	position: sticky;
	position: -webkit-sticky;
	align-self: flex-end;
	padding: 1rem 1.8rem;
	right: 3rem;
	bottom: 3rem;
	color: white;
	font-size: 1.7rem;
	background-color: #944444;
	border-radius: 45px;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
}

.home-paper-btn:hover {
	background-color: #853d3d;
}

.home-paper-btn svg {
	margin-right: 1rem;
}

#components-affix-demo-target .scrollable-container {
	height: 100px;
	overflow-y: scroll;
}
#components-affix-demo-target .background {
	padding-top: 60px;
	height: 300px;
}

@media screen and (max-width: 1023px) {
	.home-container {
		margin-bottom: 5rem;
	}

	.home-paper-btn {
		align-self: center;
		padding: 1.8rem 6rem;
		bottom: 5rem;
		font-size: 2rem;
		border-radius: 50px;
	}
}
