.profile-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin: 0 auto;
	background-color: brown;
}

@media screen and (max-width: 1023px) {
	.profile-container {
		width: 90%;
	}
}
