.authFormContainerDesktop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	height: 50%;
	background-color: whitesmoke;
}

.authInputFormContainerDesktop {
	display: flex;
	flex-direction: column;
}

.authFormText {
	cursor: pointer;
}
