.authFormContainerDesktop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	width: 80%;
	height: 50%;
	border-radius: 20px;
	background-color: whitesmoke;
}

.authFormTitle {
	margin: 1rem 1rem 1rem 0;
}

.authInputFormContainerDesktop {
	display: flex;
	flex-direction: column;
}

.authFormText {
	cursor: pointer;
}
