.authForm-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	width: 80%;
	height: 50%;
	border-radius: 20px;
	background-color: whitesmoke;
}

.authForm-title {
	margin: 1rem 1rem 1rem 0;
	font-size: 2.5rem;
}

.authForm-form-container {
	display: flex;
	flex-direction: column;
}

.authForm-form-small-text {
	cursor: pointer;
	font-size: 1.5rem;
}

@media screen and (max-width: 1023px) {
	.authForm-container {
		width: 100%;
		height: 100%;
	}

	.authForm-title {
		font-size: 5rem;
	}

	.authForm-form-small-text {
		font-size: 3rem;
	}
}
