.logo-container {
	display: flex;
	align-items: center;
	width: 100%;
}
.logo-container img {
	display: flex;
	min-width: 380px;
	max-width: 520px;
	height: auto;
}

@media screen and (max-width: 992px) {
	.logo-container {
		justify-content: center;
	}
	.logo-container img {
		max-width: 600px;
	}
}

@media screen and (min-width: 993px) {
	.logo-container {
		justify-content: flex-end;
	}
}
