.logo-container {
	display: flex;
	align-items: center;
}
.logo-container img {
	display: flex;
	width: 23rem;
	min-width: 300px;
	max-width: 400px;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px) {
	.logo-container {
		justify-content: center;
	}
	.logo-container img {
		min-width: 180px;
		max-width: 250px;
	}
}
