.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.logo-container img {
	display: flex;
	min-width: 380px;
	max-width: 520px;
	height: auto;
}

@media screen and (max-width: 1024px) {
	/* .logo-container img {
		max-width: 450px;
	} */
}

@media screen and (min-width: 1025px) {
	/* .logo-container img {
		min-width: 380px;
		max-width: 520px;
	} */
}

/* @media screen and (min-width: 1400px) {
	.logo-container {
		justify-content: right;
	}
} */
