.social-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-self: center !important;
	width: 100% !important;
	/* padding: 2rem 1.5rem; */
	padding: 20px 15px;
}

.social-btn {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	align-self: center !important;
	width: 100%;
	padding: 1.8rem !important;
	color: #fffdfd !important;
	/* font-size: 2.2rem !important; */
	/* font-size: var(--font-size-md); */
	border: none !important;
	box-shadow: 0.3rem 0.5rem 0.5rem #cccaca !important;
}
.social-btn svg {
	/* font-size: 2.5rem; */
	/* font-size: var(--font-size-md); */
}
.google {
	background-color: #4285f4 !important;
}
.google:hover,
.google:active {
	background-color: #356ac3 !important;
}
.facebook {
	background-color: #4267b2 !important;
}
.facebook:hover,
.facebook:active {
	background-color: #35528e !important;
}
.github {
	background-color: #181717 !important;
}
.github:hover,
.github:active {
	background-color: #464545 !important;
}

.social-text {
	width: 100%;
	margin-top: 0.75rem;
	cursor: pointer;
	/* font-size: 1.8rem; */
	/* font-size: var(--font-size-sm); */
	color: #6e6e6e;
	text-align: center;
	text-decoration: underline;
}

.login-title {
	/* font-size: 2.8rem; */
	/* font-size: var(--font-size-md); */
	margin-bottom: 0.75rem;
}

.icon-margin-right {
	margin-right: 1rem;
}
