.social-container {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: 80%;
	height: 60%;
	border-radius: 20px;
	background-color: whitesmoke;
}

.social-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	border-radius: 20px;
	background-color: dimgrey;
}

.social-title {
	margin: 1rem;
	font-size: 2.5rem;
}

.social-form-small-text {
	cursor: pointer;
	margin: 0.7rem 0.5rem 0.5rem 0.5rem;
	font-size: 1.5rem;
	color: #6c757d;
	text-decoration: underline;
}

.social-btn {
	margin: 0.75rem;
}

.social-btn-text {
	margin: 0.5rem;
	font-size: 2rem;
}

@media screen and (max-width: 1023px) {
	.social-container {
		width: 100%;
		height: 100%;
	}

	.social-form-container {
		margin-top: 1rem;
		padding: 3rem;
		justify-content: flex-start;
	}
}
