/* ---- DesktopOrTablet ---- */

.socialContainerDesktop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	width: 80%;
	height: 50%;
	border-radius: 20px;
	background-color: whitesmoke;
}

.socialTitle {
	margin: 1rem 1rem 1rem 1rem;
}

.socialFormContainerDesktop {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	border-radius: 20px;
	background-color: dimgrey;
}

.socialFormText {
	cursor: pointer;
}

.socialBtn {
	margin: 0.5rem;
}
