.modal {
	--bs-modal-width: 80% !important;
}

.createPaper-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	width: 100%;
}

.createPaper-modal-title {
	margin: 0 !important;
	color: #212121 !important;
	font-size: 2rem !important;
}

.createPaper-modal-close-btn {
	color: #7b838a;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.createPaper-modal-close-btn svg {
	width: 2rem;
	height: 2rem;
}

.createPaper-form-container {
	width: 100%;
	height: 100%;
}

.createPaper-form-group {
	margin: 1.5rem 1rem;
}

.createPaper-form-title {
	color: #212121;
	font-size: 1.7rem;
}

.createPaper-form-text {
	padding: 1rem !important;
	font-size: 1.7rem !important;
}

.createPaper-form-code-group {
	display: flex;
	flex-direction: row;
	margin: 1.5rem 1rem;
}

.createPaper-form-code {
	margin: 1rem !important;
	padding: 1rem !important;
	width: 5rem !important;
	text-align: center;
	font-size: 1.7rem !important;
}

.pincode-input-text {
	padding: 0 !important;
	margin: 0 2px;
	text-align: center;
	border: 1px solid;
	background: transparent;
	width: 50px;
	height: 50px;
}
.pincode-input-text:focus {
	outline: none;
	box-shadow: none;
}

.createPaper-modal-footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin: 1rem !important;
}

.createPaper-modal-footer-btn {
	margin-left: 1rem;
	font-size: 1.5rem !important;
}
