.modal {
	--bs-modal-width: 70% !important;
}
.modal-content {
	padding: 1rem;
	border-radius: 30px !important;
}

.createPaper-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
}

.createPaper-modal-title {
	margin: 0 !important;
	color: #303030 !important;
	font-size: 2rem !important;
	font-weight: 700 !important;
}

.createPaper-modal-close-btn {
	font-size: 2rem;
	color: #7b838a;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.createPaper-form-group {
	display: flex !important;
	flex-direction: column !important;
	margin: 0 1rem 1rem 1rem;
}

.createPaper-form-title {
	color: #9f5757;
	font-size: 1.8rem;
}

.form-length-text {
	display: flex !important;
	justify-content: right !important;
	margin-top: 0.5rem !important;
	margin-right: 0.5rem;
	font-size: 1.4rem !important;
}

.createPaper-form-text {
	padding: 1rem !important;
	font-size: 1.8rem !important;
}

.createPaper-form-group-text {
	font-size: 1.4rem !important;
}

.createPaper-form-code-group {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 0.5rem;
}

.createPaper-form-code {
	margin-right: 1rem !important;
	padding: 1rem !important;
	width: 5rem !important;
	text-align: center;
	font-size: 1.8rem !important;
}

.createPaper-form-code-group-text {
	margin: 0.125rem;
	font-size: 1.4rem !important;
}

.createPaper-modal-footer {
	display: flex !important;
	justify-content: flex-end !important;
	margin: 0 !important;
	padding: 1rem !important;
}

.createPaper-modal-footer button {
	font-size: 1.7rem !important;
}

.createPaper-modal-footer button#close-btn {
	margin-right: 1rem !important;
}

.createPaper-modal-footer button#create-btn {
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}
.createPaper-modal-footer button#create-btn:hover {
	background-color: #944444 !important;
}

@media screen and (max-width: 1023px) {
	.modal {
		--bs-modal-width: 80% !important;
	}
	.modal-content {
		border-radius: 40px !important;
	}

	.createPaper-modal-title {
		font-size: 2.2rem !important;
	}
}
