.deletePaper-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1rem 1rem 1rem;
}

.deletePaper-modal-title {
	margin: 0 !important;
	color: #303030 !important;
	font-size: 2rem !important;
	font-weight: 700 !important;
}

.deletePaper-modal-close-btn {
	font-size: 2rem;
	color: #7b838a;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.deletePaper-modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem !important;
}

.deletePaper-modal-body button {
	font-size: 1.8rem !important;
}
.deletePaper-modal-body button#delete-btn {
	margin-right: 2rem !important;
}
