.deletePaper-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1rem 1rem 1rem;
}

.deletePaper-modal-title {
	margin: 0 !important;
	color: #303030 !important;
	font-size: 2rem !important;
	font-weight: 700 !important;
}

.deletePaper-modal-close-btn {
	font-size: 2rem;
	color: #7b838a;
	padding: 0;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}

.deletePaper-modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem !important;
	padding: 1rem !important;
}

.deletePaper-modal-body button {
	font-size: 1.7rem !important;
}

.deletePaper-modal-body button#delete-btn {
	margin-right: 2rem !important;
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}
.deletePaper-modal-body button#delete-btn:hover {
	background-color: #944444 !important;
}

@media screen and (max-width: 1023px) {
	.deletePaper-modal-title {
		font-size: 2.2rem !important;
	}
}
