.editPaper-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.editPaper-prev-btn {
	position: absolute;
	left: 13%;
	color: #9f5757;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.editPaper-prev-btn svg {
	width: 2.5rem;
	height: 2.5rem;
}
.editPaper-prev-btn:hover {
	color: #944444;
}

.editPaper-form-container {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	padding: 4rem 3rem 4rem 3rem;
	background-color: #fffdfd;
	border-radius: 30px;
}

.editPaper-title {
	margin: 0;
	font-size: 1.8rem;
	font-weight: 700;
}

.editPaper-form-group {
	display: flex !important;
	flex-direction: column !important;
}

.editPaper-form-title {
	color: #9f5757;
	font-size: 1.7rem;
}

.editPaper-form-code-group {
	margin: 2rem 2rem 0 2rem;
}
.editPaper-form-code-input {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.editPaper-form-code-group-text {
	display: flex;
	flex-direction: column;
	margin: 0.125rem;
	font-size: 1.4rem !important;
}

.editPaper-edit-btn {
	display: flex !important;
	justify-content: flex-end !important;
}

.editPaper-edit-btn button {
	font-size: 1.7rem !important;
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}
.editPaper-edit-btn button:hover {
	background-color: #944444 !important;
}

@media screen and (max-width: 1023px) {
	.editPaper-prev-btn {
		left: 5rem;
	}

	.editPaper-form-container {
		margin-top: 2rem;
		padding: 3rem;
		border-radius: 40px;
	}
}
