.editPaper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 5rem;
	padding: 3rem 5rem;
	border-radius: 40px;
	background-color: #e4bab5;
	box-shadow: 0.5rem 0.5rem 0.5rem #968f8e;
}

.editPaper-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 3rem;
}
.editPaper-header-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	z-index: 1;
	color: #595959;
	font-size: 2rem;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.editPaper-header-container button:hover,
.editPaper-header-container button:active {
	color: #454545;
}

.paper-title-container {
	width: 100%;
	margin: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.editPaper-title {
	margin: 0 0 0 -5%;
	font-size: 2.2rem;
	font-weight: 700;
	padding: 1.8rem 3.5rem;
	border-radius: 40px;
	color: #595959;
	background-color: #fffdfd;
}

.editPaper-form-container {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	padding: 3.5rem;
	background-color: #fffdfd;
	border-radius: 40px;
}

.editPaper-edit-btn {
	display: flex !important;
	justify-content: flex-end !important;
}

.editPaper-edit-btn button {
	font-size: 1.8rem !important;
	background-color: #9f5757 !important;
	border-color: #944444 !important;
}
.editPaper-edit-btn button:hover,
.editPaper-edit-btn button:active {
	background-color: #853d3d !important;
	border-color: #763636 !important;
}
