.editPaper-wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	min-width: 250px;
	max-width: 750px;
	margin: 0 auto;
	padding-top: 85px;
}

.editPaper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	padding: calc(1rem + 0.45vw);
	border-radius: 40px;
	background-color: #e4bab5;
	box-shadow: 0.5rem 0.5rem 0.5rem #968f8e;
}

.editPaper-header-container {
	margin-bottom: 1rem;
}

.editPaper-title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	margin: 0;
	padding: 0.5rem 1.125rem;
	border-radius: 25px;
	font-size: 1.125rem;
	color: #595959;
	background-color: #fffdfd;
}
.editPaper-title svg {
	font-size: inherit;
	margin-right: 0.375rem;
}

.editPaper-form-container {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	background-color: #fffdfd;
	border-radius: 40px;
}

.editPaper-edit-btn {
	display: flex !important;
	justify-content: center !important;
}

.editPaper-edit-btn button {
	margin: 0 0.5rem;
}

.bad-access {
	color: red !important;
}
.empty-prev-btn {
	margin-top: 0.5rem;
}
.empty-prev-btn svg {
	margin-right: 0.375rem;
}
