.card {
	margin: 0.5rem !important;
	padding: 2rem !important;
	border-radius: 35px !important;
}

.paperList-card-container {
	display: flex !important;
	justify-content: center !important;
}

.paperList-card-link {
	text-decoration: none;
}

.paperList-card-title {
	margin-bottom: 1rem;
	color: #9f5757;
	font-size: 2rem;
	font-weight: 700;
}
.paperList-card-title:hover {
	font-size: 2.2rem;
	transition: 0.15s;
	color: #944444;
}

.paperList-card-date {
	color: #454545;
	font-size: 1.3rem;
	margin-bottom: 2.2rem;
}

.paperList-card-delete-btn {
	position: absolute;
	right: 2.5rem;
	bottom: 2rem;
	font-size: 1.4rem !important;
}

.paperList-pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 0;
}

.paperList-pagination-item span {
	background-color: #9f5757 !important;
	border-color: #9f5757 !important;
}

.paperList-pagination-item a {
	font-size: 1.4rem;
	color: #303030;
}

.paperList-pagination-item a:hover {
	font-weight: 700;
	color: #9f5757;
}

@media screen and (max-width: 1023px) {
	.card {
		margin: 0.5rem !important;
		padding: 1.75rem 1rem !important;
	}
}
