.paper-wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	min-width: 250px;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	padding-top: 85px;
}

.paper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 1.5rem;
	padding: 1.5rem 1.25rem;
	border-radius: 40px;
	background-color: #e4bab5;
	box-shadow: 0.375rem 0.375rem 0.375rem #968f8e;
}

.paper-header-container {
	align-items: flex-start !important;
}

.paper-header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.paper-header-btn button {
	padding: 0;
	color: #595959;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.paper-header-btn svg {
	width: var(--font-size-btn);
	height: var(--font-size-btn);
}
.paper-header-btn button:hover,
.paper-header-btn button:active {
	color: #454545;
}

.paper-header-margin-top {
	margin-top: 0.75rem;
}

.header-btn-no-display {
	width: var(--font-size-btn);
}

.paper-title-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.paper-title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	margin: 0;
	padding: 0.5rem 1.125rem;
	border-radius: 25px;
	background-color: #fffdfd;
	color: #944444;
	text-align: center;
	word-break: break-word;
}

.scroll-top-btn {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	width: 2.5rem;
	height: 2.5rem;
	right: 1.5rem;
	bottom: 2.5rem;
	border-radius: 50% !important;
	box-shadow: 0 0 0.25rem 0.25rem rgba(150, 143, 142, 0.35);
}
.scroll-top-btn svg {
	width: 100%;
	height: 100%;
}
