.paper-wrapper {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding-top: 13rem;
}

.paper-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 5rem;
	padding: 3rem;
	border-radius: 40px;
	background-color: #e4bab5;
	box-shadow: 0.5rem 0.5rem 0.5rem #968f8e;
}

.paper-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.paper-header-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	z-index: 1;
	color: #595959;
	font-size: 2.2rem;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.paper-header-container button:hover,
.paper-header-container button:active {
	color: #454545;
}

.paper-title-container {
	width: 100%;
	margin: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.paper-title {
	margin: 0;
	padding: 1.8rem 3.5rem;
	border-radius: 40px;
	background-color: #fffdfd;
	color: #944444;
	font-size: 2.4rem;
	font-weight: 700;
	text-align: center;
	word-break: break-all;
}

.scroll-top-btn {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	width: 5rem;
	height: 5rem;
	right: 5rem;
	bottom: 5rem;
	border-radius: 50% !important;
	box-shadow: 0 0 1rem 0.5rem rgba(150, 143, 142, 0.5);
}
.scroll-top-btn svg {
	width: 50%;
	height: 50%;
}

@media screen and (max-width: 1200px) {
	.paper-wrapper {
		width: 70%;
		min-width: 350px;
	}
}

@media screen and (min-width: 1400px) {
	.paper-wrapper {
		max-width: 1200px;
	}
}
