.paperSettings-offcanvas-container {
	--bs-offcanvas-height: 55% !important;
	border: none !important;
	font-size: 1.7rem;
	padding: 4rem !important;
	border-radius: 40px 40px 0 0 !important;
}

.paperSettings-offcanvas-header {
	margin-bottom: 1rem !important;
}

.paperSettings-offcanvas-title {
	display: flex;
	align-items: center;
	font-size: 2.2rem !important;
	color: #454545 !important;
}
.paperSettings-offcanvas-title svg {
	margin-right: 1rem;
}

.paperSettings-offcanvas-body {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: flex-start;
	width: 100%;
	margin-top: 1rem;
	padding: 2rem !important;
}

.paperSettings-offcanvas-body button {
	width: 50%;
	min-width: 180px;
	max-width: 350px;
	margin: 0 3rem;
	padding: 2rem;
	font-size: 1.8rem;
}
.paperSettings-offcanvas-body button svg {
	margin-right: 1rem;
}

.paperSettings-offcanvas-body button#edit-btn {
	background-color: #9f5757;
	border: none;
}
.paperSettings-offcanvas-body button#edit-btn:hover,
.paperSettings-offcanvas-body button#edit-btn:active {
	background-color: #944444;
}

@media screen and (max-width: 1024px) {
	.paperSettings-offcanvas-body {
		flex-direction: column !important;
		justify-content: flex-start !important;
		align-items: center;
	}

	.paperSettings-offcanvas-body button {
		margin: 1.5rem;
	}
}
