.paper-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 1rem 3rem 4rem 3rem;
}

.paper-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	padding: 4rem 3rem;
	border-radius: 30px;
	background-color: #e4bab5;
	box-shadow: 0.5rem 0.5rem 0.5rem #968f8e;
}

.paper-header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.paper-prev-btn {
	position: absolute;
	left: 6rem;
	color: #9f5757;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.paper-prev-btn svg {
	width: 2.5rem;
	height: 2.5rem;
}
.paper-prev-btn:hover {
	color: #944444;
}

.paper-title-container {
	padding: 1.5rem 3rem;
	border-radius: 30px;
	background-color: #fffdfd;
	box-shadow: 0.35rem 0.5rem 0.5rem #a0827f;
}

.paper-title {
	margin: 0;
	color: #944444;
	font-size: 2.5rem;
	font-weight: 700;
}

.paper-setting-btn {
	position: absolute;
	right: 6rem;
	color: #9f5757;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
	background: none;
}
.paper-setting-btn svg {
	width: 2.5rem;
	height: 2.5rem;
}

.paper-create-message-btn {
	position: sticky;
	position: -webkit-sticky;
	align-self: flex-end;
	padding: 1.5rem 2rem;
	right: 4rem;
	bottom: 3rem;
	color: #fffdfd;
	font-size: 1.7rem;
	background-color: #9f5757;
	border-radius: 40px;
	box-shadow: 0.3rem 0.5rem 0.5rem rgba(150, 143, 142, 0.8);
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
}
.paper-create-message-btn:hover {
	font-size: 1.9rem;
	transition: all 0.2s linear;
	background-color: #944444;
}
.paper-create-message-btn:hover .paper-create-message-btn-icon {
	transition: all 0.2s linear;
	transform: rotate(360deg);
}

.paper-create-message-btn-icon {
	margin-right: 0.5rem;
}

@media screen and (max-width: 1023px) {
	.paper-wrapper {
		padding: 1rem 2rem 4rem 2rem;
	}

	.paper-container {
		margin-bottom: 3.7rem;
		padding: 3rem 2rem;
		border-radius: 40px;
	}

	.paper-title-container {
		border-radius: 40px;
	}

	.paper-prev-btn {
		left: 5rem;
	}

	.paper-setting-btn {
		right: 5rem;
	}

	.paper-create-message-btn {
		align-self: center;
		padding: 1.8rem 6rem;
		bottom: 5rem;
		font-size: 2rem;
		border-radius: 50px;
	}

	.paper-create-message-btn:hover {
		font-size: 2.2rem;
	}
}
