.sharePaper-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

.sharePaper-btn {
	padding: 1.2rem 4rem;
	font-size: 1.4rem;
	color: #303030;
	background-color: #faeeed;
	border-radius: 50px;
	box-shadow: 0.5rem 0.5rem 0.5rem #a0827f;
	outline: none;
	appearance: none;
	border: none;
	white-space: nowrap;
}
.sharePaper-btn svg {
	margin-right: 0.5rem;
	transition: all 0.2s linear;
}
.sharePaper-btn:hover,
.sharePaper-btn:active {
	background-color: #efdedd;
}
.rotate-animation {
	transform: rotate(360deg);
}

.sharePaper-link {
	margin-top: 2rem;
}
.sharePaper-link input {
	padding: 1.2rem 1.5rem !important;
	border: none !important;
	font-size: 1.4rem !important;
}
.sharePaper-link button {
	padding: 1.2rem 1.5rem;
	color: #fffdfd;
	font-size: 1.6rem;
}
