.appFooter {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 13rem;
	transform: translateY(0%);
	text-align: center;
	background-color: dimgrey;
}
