.footer-container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30%;
	transform: translateY(0%);
	color: #f5f5f7;
	font-size: 1.6rem;
	text-align: center;
	background-color: #303030;
}

.footer-developer {
	margin: 1rem;
	font-size: 1.8rem;
}
.footer-developer a {
	color: #f5f5f7;
	text-decoration: none;
}
.footer-developer svg {
	margin-right: 0.75rem;
}

@media screen and (max-width: 1023px) {
	.footer-container {
		height: 20%;
		font-size: 1.4rem;
	}
	.footer-developer {
		font-size: 1.6rem;
	}
}
