.footer-container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	transform: translateY(0%);
	color: #f5f5f7;
	text-align: center;
	background-color: #303030;
}
.footer-container span,
a {
	font-size: var(--font-size-sm);
}

.footer-developer {
	margin: 0.5rem;
}
.footer-developer a {
	color: #f5f5f7;
	text-decoration: none;
}
.footer-developer svg {
	margin-right: 0.5rem;
}
